<nav class="nav">
    <div class="nav__logo">LOGO</div>

    <ul class="nav__list">

        <li class="nav__item">
            <%= link_to "Inicio" , root_path, class:"nav__link" %>
        </li>

        <li class="nav__item">
            <%= link_to "Articulos" , articles_path, class:"nav__link" %>
        </li>

        <li class="nav__item">
            <%= link_to "Escribir" , new_articles_path, class:"nav__link" %>
        </li>
    </ul>

    <div class="nav__social-links">Social links</div>
</nav>